h1{
    background-color: darkgray;
    text-align: center;
    text-shadow: 0px 2px 0px white,0px 3px 0px yellow;
}
h3{
    background: black;
}
div{
    margin-left: 20px;
}
.wrap{
    width: 600px;
    margin: auto;
    background-color: darkslategrey;
    overflow: hidden;
}
aside{
    background:yellow;
    float: right;
    width: 150px;
}
.content{
    background:lightblue;
}
aside ul{
    padding-left: 20px;
}
ul a{
    text-decoration:none;
}
ul a:hover{
    text-decoration: underline;
}