body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    text-shadow: 0px 2px 0px white,0px 3px 0px yellow;
}
h3{
    background: black;
}
div{
    margin-left: 20px;
}
.wrap{
    width: 600px;
    margin: auto;
    overflow: hidden;
}
aside{
    background:yellow;
}
.content{
    height: 200px;
}
aside ul{
    padding-left: 20px;
}
ul a{
    text-decoration:none;
}
ul a:hover{
    text-decoration: underline;
}
article{
    margin-top: 10px;
}
article img{
    float: left;
    margin-right: 10px;
}
.preview{
    float:right;
    width: 375px;
}
article h2{
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -1px;
}
.meta a{
    font-style: italic;
    color: green;
    font-size: 15px;
}
.meta li{
    display: inline;
}
.meta li:after{
    content: '|';
    padding: 0 2px;
}
.meta li:last-child::after{
    content: '';
}
.meta{
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.postinfo{
    background: cadetblue;
    margin-top: 0px;
    float: left;
}
.postinfo a{
    color: black;
    text-decoration: none;
}
.postinfo a:hover{
    color:white;
}
.artbody{
    clear: both;
    margin-left: 0px;
    line-height: 18px;   
}
.conti{
    float: right;
    color: black;
    font-size: 14px;
}
.conti:hover{
    color:green;
}
.nav li{
    display: inline;
    padding: 70px;
}
.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}